.Actual {
    width: 100%;
    margin: 0 auto;

    &__container {
        width: 75%;
        margin: 0 auto;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
    }
}