.article__card {
    // width: 50%;
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    border: 1px solid #7400b1;
    margin-top: 20px;

    &:hover{
        cursor: pointer;
        box-shadow: 0 8px 24px rgba(0,0,0,.12);
        bottom: 3px;
    }
  
    &_left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &_title {
        font-size: 24px;
        color: #7400b1;
    }

    &_annotation {
        padding-top: 15px;
        font-size: 20px;
    }

    &_bottom {
        padding-top: 10px;
        display:flex;
        justify-content: space-between;
    }

    &_img {
        img {
            width: 300px;
            height: 100%;
        }
    }
}

.article__wrapper {
    text-decoration: none;
    a {
        text-decoration: none;
    }
}