.Header {
    width: 100%;
    height: 60px;
    margin: 0 auto;

    header {
        display: flex;
        justify-content: space-around;
    }

    &__logo {
        width: 50px;
        height: 90%;
        font-size: 18px;
    }

    &__list {
        width: 360px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        // width: 140px;
        // height: 40px;
        // margin-top: 10px;
        // color: #fff;
        // background-color:#980bff;
        // border-radius: 10px;
        // border: none;
        display: flex;
        align-items: center;
    }

    &_profile {
        padding: 1rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        &_image {
            width: 40px;
        }
    }

    &__inProfile {
        margin-top: 15px;
        display: flex;
        height: 40px;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }
}

