.Nav {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #821fc2;

    &__logo {
        width: 100px;
    }

    &__list {
        width: 1000px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
}

